// navy
$navy950: #303b59;
$navy200: #cac9ff;
$navy50: #ecf2ff;

//blue
$blue800: #1125d6;
$blue50: #f3f4fd;

//yellow
$yellow400: #ffb21e;
$yellow50: #fffbf4;

//red
$red400: #ff5555;
$red50: #fff6f6;

//green
$green500: #00bb8f;
$green50: #f2fcf9;
