@use "./mixins" as *;
@use "./variables" as *;

// result section
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  border-radius: 0 0 32px 32px;
  background: linear-gradient(to bottom, #7755ff, #2f2ce9);

  &__title {
    @include typo(1.125rem, $navy200, 700, 130%, 0);
    margin-bottom: 24px;
  }

  &__score-circle {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background: linear-gradient(to bottom, #4d21c9, transparent);
    color: white;
    margin-bottom: 24px;
  }

  &__score {
    @include typo(3.5rem, white, 800, 100%, 0);
  }

  &__out-of {
    @include typo(1rem, $navy200, 700, 130%, 0);
    opacity: 51.68%;
  }

  &__comment {
    @include typo(1.5rem, white, 700, 130%, 0);
    margin-bottom: 8px;
  }

  &__description {
    @include typo(1rem, $navy200, 500, 130%, 0);
    text-align: center;
    max-width: 260px;
  }
}

// summary section
.summary {
  padding: 24px 30px 30px 30px;

  &__title {
    @include typo(1.125rem, $navy950, 700, 130%, 0);
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }

  &-item {
    display: flex;
    align-items: center;
    height: 56px;
    border-radius: 12px;
    padding: 0 16px;

    img {
      margin-right: 16px;
    }
  }

  &-item__label {
    @include typo(1rem, white, 500, 130%, 0);
    margin-right: auto;
  }

  &-item__score {
    @include typo(1rem, rgba(48, 59, 89, 0.5), 700, 130%, 0);
    strong {
      @include typo(1rem, $navy950, 700, 130%, 0);
    }
  }

  &__button {
    font-family: "Hanken Grotek", sans-serif;
    @include typo(1.125rem, white, 700, 130%, 0);
    margin-top: 24px;
    display: block;
    position: relative;
    width: 100%;
    background: rgba(48, 59, 89, 1);
    border-radius: 999px;
    color: white;
    height: 56px;
    transition: 0.3s ease;
  }

  &__button::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 999px;
    background: linear-gradient(to bottom, #7755ff, #2f2ce9);
  }

  &__button:hover {
    background: rgba(48, 59, 89, 0);
  }
}

// tablet
@media (min-width: 48rem) {
  .result,
  .summary {
    flex-grow: 1;
  }

  // result
  .result {
    border-radius: 32px;
    padding: 45px 0;
    min-width: 338px;
    transition: 0.3s ease;

    &__title {
      @include typo(1.5rem, $navy200, 700, 130%, 0);
      margin-bottom: 32px;
    }

    &__score-circle {
      width: 200px;
      height: 200px;
      margin-bottom: 32px;
    }

    &__score {
      @include typo(4.5rem, white, 800, 100%, 0);
    }

    &__out-of {
      @include typo(1.125rem, $navy200, 700, 130%, 0);
    }

    &__comment {
      @include typo(2rem, white, 700, 130%, 0);
      margin-bottom: 16px;
    }

    &__description {
      @include typo(1.125rem, $navy200, 500, 130%, 0);
      text-align: center;
      max-width: 200px;
    }
  }

  // summary
  .summary {
    background-color: white;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    padding: 44.5px 39.64px;

    &__title {
      @include typo(1.5rem, $navy950, 700, 130%, 0);
      margin-bottom: 32px;
    }

    &-item__label {
      @include typo(1.125rem, white, 500, 130%, 0);
    }

    &-item__score {
      @include typo(1.125rem, rgba(48, 59, 89, 0.5), 700, 130%, 0);

      strong {
        @include typo(1.125rem, $navy950, 700, 130%, 0);
      }
    }

    &__button {
      margin-top: 32px;
    }
  }
}

//desktop
@media (min-width: 64rem) {
  .result {
    min-width: 368px;

    &__description {
      max-width: 260px;
    }
  }
}
